@model List<ResultProductDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">İlan Listesi</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Title</th>
                                <th scope="col">City</th>
                                <th scope="col">District</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Type</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                                <th scope="col">Page</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.productTitle</td>
                                    <td>@item.productCity</td>
                                    <td>@item.productDistrict</td>
                                    <td>@item.categoryName</td>
                                    <td>@item.productPrice</td>
                                    <td>@item.type</td>
                                    <td><a href="/Prıduct/DeleteProduct/@item.productId" class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/Product/UpdateProduct/@item.productId" class="btn btn-outline-success">Update</a></td>
                                    <td><a href="/Product/ProductDetail/@item.productId" class="btn btn-outline-primary">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Product/CreateProduct/" class="btn btn-outline-info">Yeni İlan Girişi</a>
                </div>
            </div>
        </div>
    </div>
</div>

